.Profile {
    h4.title {
      margin-bottom: 1.5rem;
    }
    .main {
        display: flex;
        padding-left: 0;
        .tab-title-list {
            padding-top: 1rem;
            width: 220px;
            flex-shrink: 0;
            z-index: 10;
            box-shadow: 0 0 0 hsla(210, 8%, 5%, 0.05);
            transition: box-shadow ease-in-out .1s, transform ease-in-out .1s;
            transform: translateZ(0);
        }
    }
}
