.EditPost-wrapper {
  padding-top: 3.25rem;
  padding-top: calc(3.25rem + 1.5rem);
  display: flex;
  justify-content: center;
  max-width: 1360px;
  width: 100%;
  background: none;
  margin: 0 auto;
}
