.CommentEditor {
    .wrapper-class {
        min-height: 15rem;
        border: 1px solid #ccc;
        border-radius: 10px;

        .toolbar-class {
            border-top: 0;
            border-bottom: 1px solid #ccc;
            margin-top: 0.5rem;
        }    
    }
    .menu-area {
        .actions > button {
            margin-right: 1rem;
        }
    }
}