.Topic {
    border-bottom: 1px solid #ddd;
    position: relative;
    &:last-child {
        border-bottom: 0;
    }
    .backdrop {
        position: absolute;
    }
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
        .meta {
            display: flex;
            .avator {
                padding: 0;
            }
            .auth {
                margin-left: 1rem;
            }
        }
    }
    .content {
        margin-bottom: 1rem;
        .cover {
            img {
                width: 75%;
                height: 100%;
            }
        }
        .cooked {
            min-height: 3rem;
        }
        .menu-area {
            position: relative;
            margin-top: 3rem;
            .controls {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .actions {
                    display: inline-flex;
                }
            }
            .count {
                margin-left: 0.5rem;
            }
        }
    }
    .content.private {
        background: #e2e2e2;
        border-radius: 10px;
        padding: 3rem;
        font-style: italic;
        min-height: 11rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .private-icon {
        margin-left: 1rem;
    }
    .topicClosed {
        background: #e2e2e2;
        border-radius: 10px;
        text-align: center;
        padding: 1rem 0;
        margin-bottom: 1rem;

    }
}