@import "styles/variables";
.Related {
    .header{
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .no-post {
        padding: 0 16px;
        height: 3rem;
        display: flex;
        align-items: center;
    }
    .listItem {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}