<% layout('boilerplate') -%>
    <h1>I am the
        <%= what %>
    </h1>

    <div class="line">
        <button class="btn btn-md primary btn-block" type="logout" id="logout">Logout</button>
    </div>