<% layout('boilerplate') -%>
    <div class="login-form-container">
        <form class="form-signin" id="login-form" name="login">
            <h1 class="h3 mb-4 font-weight-normal">SSO server sign in</h1>
            <div class="line">
                <input type="text" name="email" id="inputEmail" class="form-control" required>
                <label for="inputEmail">Email address</label>
            </div>
            <div class="line">
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <label for="inputPassword">Password</label>
            </div>
            <!-- <div class="line">
                <input type="checkbox" name="rememberMe" id="rememberMe">
                <label for="rememberMe">Remember me</label>
            </div> -->
            <div class="line">
                <div class="link">
                    <a href="/simplesso/send-email">Forget password</a>
                    <a href="/simplesso/register">Sign up</a>
                </div>
            </div>
            <button class="btn btn-md primary btn-block submit" type="button" id="login">Sign in</button>
        </form>
    </div>
    <div class="third-party-container">
        <div class="desc">
            or you can sign in with
        </div>
        <div class="content">
            <div class="social-btn clearfix">
                <a href="/simplesso/auth/google"><button class="google" type="Submit">Google <i class="fa fa-fw fa-google"></i></button></a>
                <a href="/simplesso/auth/facebook"><button class="facebook" type="Submit">Facebook <i class="fa fa-fw fa-facebook"></i></button></a>
                <a href="/simplesso/auth/microsoft"><button class="microsoft" type="Submit">Microsoft <i class="fa fa-fw fa-microsoft"></i></button></a>
            </div>
        </div>
    </div>