<% layout('boilerplate') -%>
    <div class="row">
        <form class="form-signin" id="reset-password-form" name="reset-password">
            <h1 class="h3 mb-4 font-weight-normal">SSO server Reset password</h1>
            <div class="line">
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <label for="inputPassword">Password</label>
            </div>
            <div class="line">
                <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control" required>
                <label for="inputConfirmPassword">Confirm password</label>
            </div>
            <div class="line">
                <button class="btn btn-md primary btn-block" type="button" id="reset">Reset</button>
            </div>
        </form>
    </div>