<% layout('boilerplate') -%>


    <form class="form-signin" id="send-email-form" name="send-email">
        <h1 class="h3 mb-4 font-weight-normal">SSO server Forget password</h1>
        <div class="line">
            <input type="text" name="email" id="inputEmail" class="form-control" required>
            <label for="inputEmail">Email address</label>
        </div>
        <div class="line">
            <div class="resend">Resend Email after <span class="time-left"></span>s.</div>
            <button class="btn btn-md primary btn-block submit" type="button" id="send">Send</button>
        </div>
        <div class="line">
            <button class="btn btn-md btn-block" type="button" id="back">Back</button>
        </div>
    </form>